integer WEBAPP_total

{+styles
print:
   <style>
     <!--
     div.tumblr_title {
		 font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		 color: #333333; font-size: 18pt;
		 font-weight: bold; }^
     li.tumblr_post {
		background-color: #cccccc;
		border-width: 2px;
        border-style: solid;
        border-color: #eeeeee;
		padding: 10px 10px 10px 10px;
        margin-left: 0px;
        margin-bottom: 10px; }^
     ol.tumblr_posts {
		margin-left: 0px;
        padding-left: 0px;
        list-style-type: none; 
		text-indent: 0px;
        list-style-position: outside;
        list-style-image: none; }^
     body {
		height: 100%; 
		max-height: 100%;
		overflow: hidden;
		padding: 0;
		top: 0;
		left: 0;
		right: 0; 
		border: 0;
		background-color: black; }
     #header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
.
write "		height: " header_height "px;"
print:
		font-size: 14pt;
		color: white;
	    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
.
write " background-color: " header_colour "; }^"
print:
     #footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: inline;
        overflow: hidden;
	    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		height: 160px;
		background-color: #40392e; }^
        div.mc_embed_signup {
        margin: 20px; }^
	div.writing {
    	display: block;
    	margin-left: auto;
    	margin-right: 30px; }^
      div.mode {
		display: inline;
        position: absolute; 
		left: 0px;
.
write "		top: " header_height "px;"
print:
		right: 0px;
        height: 30px;
        overflow: automatic;
.
write "	background-color: " tab_colour "; }^"
print:
      div.tab {
        margin: 0px;
        padding: 3px;
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: solid;
        border-width: 1px;
        border-color: black;
		text-align: center;
        float: left; 
        height: 30px;
        width: 125px;
	    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		font-size: 14pt;
        background-color: #777777; }^
      div.error {
	    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		font-size: 14pt;
		float: left;
        margin-left: 10px;
		margin-top: 6px;
        color: red; }^
      div.selectedtab {
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: solid;
        border-width: 1px;
        border-color: black;
        margin: 0px;
        padding: 3px;
		text-align: center;
        float: left; 
        height: 30px;
        width: 125px;
	    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
        font-color: #333333;
		font-size: 14pt;
.
write " background-color: " maintext_colour "; }^"
print:
      #main {
	    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
        display: block;
		color: #333333;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		position: absolute;
		left: 0px;
.
if @tab_names = 1
   write "		top: " header_height "px;"
else
   set WEBAPP_total = header_height + 30
   write "		top: " WEBAPP_total "px;"
endif
print:
		right: 0px;
		overflow: auto;
		bottom: 0px;
.
write " background-color: " maintext_colour "; }^"
print:
	    
	p {	font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		color: #333333; font-size: 14pt}^
	p.small {	font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		color: #333333; font-size: 12pt}^
	b.light {	font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		color: #c0b098; font-size: 14pt}^
	a.tablink {	font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		text-decoration: none;
		color: black; 
        font-size: 14pt}^
	a.control {	font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		text-decoration: none;
		color: #333333; 
        font-size: 14pt}^
	a.title {	font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		color: #333333; 
		font-weight: bold;^
        font-size: 18pt}^
	a.main {	font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		color: black; 
        font-size: 14pt}^
	a {	font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		color: #4444bb; 
        font-size: 14pt}^
    th { background-color: #CCCCCC; 
         padding: 4px 10px 4px 10px;
         margin: 0px; 
         border: none;
         border-width: 0px; }^
    td { border-bottom: solid;
         border-width: 2px; 
         border-color: #CCCCCC;
         padding: 4px 10px 4px 10px;
		 font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
         font-size: 14pt;
         margin: 0px; }^
	h1 { font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		 color: #c0b098; 
         font-size: 18pt}^
	h1.title { margin-left: 20px; }^
	h2 {	 	
		 font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		 color: #333333; font-size: 18pt;
		 font-weight: bold; }^
	h3 {	 	
		 font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		 color: #333333; font-size: 14pt; }^
	input.button {
		margin-top: 7px;
		margin-left: 5px; }^
	input.dir_button {
		margin-top: 0px;
		margin-left: 0px; }^
	div.links { 		
		opacity: 0.7;
		position: absolute;
.
set WEBAPP_total = header_height - 31
write "    top: " WEBAPP_total "px;"
print:
		right: 0px;
		left: 0px;
		height: 31px;
		font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
		font-color: #333333;
		padding-top: 4px;
		padding-right: 10px;
		text-align: right;
.
write " background-color: " linkbar_colour "; }^"
print:
	img.centre {
		border-radius: 15px 15px 15px 15px;
    	display: block;
    	margin-left: auto;
    	margin-right: auto }^
	img.right {
		border-radius: 15px 15px 15px 15px;
		margin: 0px 5px 5px 5px;
		float: right; }^
	div.leftplain {
                border-style: solid;
                border-width: 5px;
                border-color: black;
		margin: 0px 15px 5px 5px;
		float: left; }^
	img.leftplain {
                border-style: solid;
                border-width: 5px;
                border-color: black;
		margin: 0px 15px 5px 5px;
		float: left; }^
	img.left {
		border-radius: 15px 15px 15px 15px;
		margin: 0px 15px 5px 5px;
		float: left; }^
	img.titleimage {
.
write "		height: " header_height "px;}"
print:
	a.logo { 
        position: absolute;
        bottom: 15px;
        right: 475px; 
		border: none;
		border-width: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-top: 0px; }^
	div.row {
		display: table-row; }^
	div.label {
		display: table-cell;
		margin-top: 5px;
		margin-bottom: 5px;
        margin-right: 5px;
		text-align: right;
        width: 150px;
		float: left; }^
	div.input {
		display: table-cell;
		margin-top: 5px;
		margin-bottom: 5px;
        margin-right: 5px;
		text-align: left;
		float: left; }^
	select {
		width: 150px; }^
.
call "+local_styles"
print:
     -->
   </style>
.
}
